<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DalManagerTypeAuthCode" value="FortnoxAccessToken.DalFile.DalManager,FortnoxAccessToken.DalFile" />-->
	  <!--<add key="DalManagerTypeAuthCode" value="FortnoxAccessToken.DalSql.DalManager,FortnoxAccessToken.DalSql" />-->
	  <add key="DalManagerTypeAuthCode" value="FortnoxAccessToken.DalSQLite.DalManager,FortnoxAccessToken.DalSQLite"/>
	  <add key="DalManagerTypeAppConfig" value="FortnoxAccessToken.DalAppConfigXml.DalManager,FortnoxAccessToken.DalAppConfigXml"/>
    <add key="DalManagerTypeFortnox" value="FortnoxAccessToken.DalFortnoxSdk.DalManager,FortnoxAccessToken.DalFortnoxSdk"/>
    <add key="WSBaseUri" value="https://api.fortnox.se/3"/>
    <!--<add key="MediaType" value="application/json" />-->
    <add key="ClientSecret" value="6aIXtS1AIo"/>
    <add key="DbInUse" value="Local"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalDb" connectionString="Data Source=(local)\DMXSQL;Initial Catalog=FortnoxApiKey;Integrated Security=False;User Id=sa;Password=Eurotap423237" providerName="System.Data.SqlClient" />-->
	  <!--<add name="Local" connectionString="Data Source=(local)\DMXSQL;Initial Catalog=AuthorizationCodes;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  <!--<add name="Local" connectionString="Data Source=(local);Initial Catalog=Fortnox;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  <add name="Local" connectionString="Data Source=C:\GitRepos\Development\FortnoxAccessToken\lib\Db\FortnoxAccessToken.db;Cache=Shared;"/>
	  <add name="Server" connectionString="Data Source=100.0.40.5,1433;Initial Catalog=FortnoxApiKey;Integrated Security=False;User Id=FortUser;Password=Gh0stf@c" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
